footer {
  width: 100%;
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border-top: 2px solid #fff;
}
footer .copywrite {
  width: 100%;
  margin: 0 auto;
  line-height: 2.5;
  text-align: center;
}

small span {
  font-size: 0.8em;
}

@media screen and (min-width: 600px) {
  footer {
    height: 10vh;
  }
}