header {
  width: 100%;
  padding: 0 16px;
  background: rgba(37, 37, 37, 0.9);
  border-bottom: 1px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  transform: translateX(100vw);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}
header.active {
  transform: none;
  opacity: 1;
}
header.hidden {
  opacity: 0;
}

.menu {
  display: flex;
  column-gap: 1.5em;
}
.menu a {
  font-size: 1.6rem;
  font-weight: 600;
}

@media screen and (min-width: 600px) {
  .menu a {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1000px) {
  .menu a {
    position: relative;
  }
  .menu a::after {
    position: absolute;
    left: 0;
    bottom: -4px;
    content: "";
    width: 0;
    height: 1px;
    background: #fff;
    transition: 0.25s;
  }
  .menu a:hover::after {
    width: 110%;
  }
}