main {
  max-width: 1050px;
  margin: 0 auto;
}

.content {
  padding: 64px 0;
}
.content h3 {
  font-size: 1.6rem;
  margin-bottom: 16px;
  text-align: center;
}

.about p {
  padding: 0 24px;
  line-height: 2;
  text-align: justify;
}

.address h3 {
  line-height: 3;
  background: #ececec;
}
.address table {
  margin: 0 auto 24px;
  border-collapse: collapse;
}
.address table th, .address table td {
  border-bottom: 1px solid #252525;
  line-height: 2.4;
}
.address table th {
  padding-right: 1em;
}
.address .address_map {
  width: 80%;
  margin: 0 auto;
}
.address .address_map iframe {
  width: 100%;
  aspect-ratio: 3/2;
}

.content2 {
  padding: 64px 0;
  margin-left: 40px;
  margin-right: 16px;
}
.content2 .content2_img {
  width: 70%;
  margin-right: auto;
  margin-bottom: 24px;
}
.content2 .content2_wrap {
  margin-bottom: 24px;
}
.content2 .content2_wrap h4 {
  font-size: 1.3em;
  margin-bottom: 8px;
}
.content2 a {
  display: block;
  width: max-content;
  margin-left: auto;
  margin-right: 24px;
  padding: 24px 32px;
  font-family: "Helvetica";
  font-size: 1.8rem;
  text-decoration: underline;
  text-underline-offset: 0.5em;
  color: #fff;
  background: #00c2cb;
  border-radius: 45px;
}

@media screen and (min-width: 600px) {
  .content h3 {
    font-size: 1.8rem;
  }
  .about p {
    padding: 0 48px;
  }
  .content2 a {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1050px) {
  .about {
    padding-top: 128px;
  }
  .content2 a {
    transition: transform 0.25s;
  }
  .content2 a:hover {
    transform: scale(1.1);
  }
}